{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Blog {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h3>Manage User</h3>
<hr>
{% if users %}
<table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.first_name}}</a></td>
            <td>{{user.last_name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.is_active}}</td>
            <td><a href="/delete-user?username={{user.username}}" class = "btn btn-danger">Delete User</a>

                <a href="/enable-user?username={{user.username}}" class = "btn btn-danger">Enable User</a>

            </td>
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
{% else %}

<div class = "alert alert-danger">
    No User is Blocked
</div>
{% endif %}



{% endblock content %}

