{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Blog {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h3>Dasboard</h3>
<hr>
<a class = "btn btn-danger" href = "{% url 'addarticle' %}">Add Post </a>
<hr>
{% if blog %}
<table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Published Date</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for article in blog %}
        <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'detail' article.slug %}">{{article.title}}</a></td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>
            <td><a href="{% url 'update' article.slug %}" class = "btn btn-danger">Edit</a>
            <a href="{% url 'delete' article.slug %}" class = "btn btn-danger">Delete</a> </td>
            
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
{% else %}

<div class = "alert alert-danger">
    No article
</div>
{% endif %}



{% endblock content %}

