<footer>
    <div class="container">
    <div class="col-flex">
        <h2 style="margin-left:5%">Tax Calculator System</h2>
    </div>
    <div class="col-flex">
        <h2 style="margin-left:40%"> Our Team</h2>
    </div>
    </div>
    <div class="container">
        <div class="col-flex">
            <p>Income tax calculator is designed for calculating tax payable to Nepal government on the salary earned in a given year. The calculation is based on Nepal government Tax Policy.</p>
        </div>
        <div class="container col-flex3">
            <div class="col-flex2">
                <h3>Project Manager</h3>
                <p>Dhiraj Sah Kanu<p>
                <h3>Business Analyst</h3>
                <p>Himal Budhathoki<p>
            </div>
            <div class="col-flex2">
                <h3>Developers</h3>
                <p>Himal Acharya <p>
                <p>Sandip Khadka<p>
                <p>Dhiraj Chaudhary<p>
                <p>Madan Khanal<p>
            </div>
        </div>
    </div>
    

    <p>All rights reserved &copy; 2018-2022. Privacy Policy Terms & Conditions</p>
</footer>
