<footer>
    <h1 class="footer-head">Tax Calculator</h1>
    <h3>Income tax calculator is designed for calculating tax payable to Nepal government on the salary earned in a given year. The calculation is based on Nepal government Tax Policy.</h3>
    <h1 class="footer-head2">Our Teams</h1>
    <ul class="team-list">
        <li>Dhiraj Kumar Sha Kanu <br> Project Manager</li>
        <li>Himal Budhathoki <br> Business Analyst</li>
        <li>Himal Acharya <br> Back-end Developer</li>
        <li>Sandip Khadka <br> Front-end Developer</li>
        <li>Dhiraj Chaudhary <br> Front-end Developer</li>
        <li>Madan Khanal <br> Front-end Developer</li>
    </ul>
    <p>All rights reserved &copy; 2018-2022. Privacy Policy Terms & Conditions</p>
</footer>