{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>tax</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  {% include 'nav.html' %}
    <h1 class="howto-title">How to use the Income Tax Calculator</h1>
    <div class="howto-box">
      <h2 class="second-head"><b>Following are the steps to use the calculator:</b></h2>
      <ul class="howto-list">
        <li>1. Enter your full name</li>
        <li>2. Enter your Age must be between (18-50) years to use the tax calculator.</li>
        <li>3. Enter your total income.</li>
        <li>4. Select your Health insurancce rate.</li>
        <li>5. The calculator will deduct 10% from your salary for the Employee provided fund, 5.5% from citizen investment trust & Govenment tax will be deducted according to the amount your income is.</li>
        <li>6. Click calculate for the result.</li>
        <li>7. And please check the summary after the calculation. We hope you are satisfied with our service. Thank you!</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <hr>
    {% include 'footer.html' %}
</body>
</html>