{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Get Started</title>
    <link rel="stylesheet" href="{% static 'style.css' %} ">
</head>
<body>
  {% include 'nav-home.html' %}
    <div class="main">
      <h1 class="main-heading">Income Tax <br>Calculator System</h1>
      <p class="main-desc">Income tax calculator is designed for calculating tax payable to Nepal government on the salary earned in a given year.</p>
      
      <p class="main-desc2">Income tax calculator is designed for calculating tax payable to Nepal government on the salary earned in a given year. Income tax calculator is designed for calculating tax payable to Nepal government on the salary earned in a given year.</p>
      <button class="btnn2"><a href="{% url 'calculator' %}">Get Started</a></button>
      <footer class="footer-home">
        <p>All rights reserved &copy; 2018-2022. Privacy Policy Terms & Conditions</p>
      </footer>
    </div>
</body>
</html>