{% load static %}
<h1 class="nav-text"><a style="color: black;" href="{% url 'calculator' %}">Tax Calculator</a></h1>
<img class="nav-logo" src="{% static '/logo.png' %} " alt="" srcset="">
<div class="nav">
    <ul class="nav-menu-2">
        {% if user.is_authenticated %}
        <li><a style="color: black;" href="{% url 'profile' %}">Profile</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% comment %} <li><a style="color: black;" href="{% url 'history' %}">History</a></li> {% endcomment %}
        <li><a style="color: black;" href="{% url 'logout' %}">Logout</a></li>
        {%else%}
        <li><a style="color: black;" href="{% url 'login' %}">Login</a></li>
        <li><a style="color: black;" href="{% url 'register' %}">Sign Up</a></li>
        {%endif%}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if user.is_superuser %}
        <a style="color: black;" href="/dashboard"> <li>Admin Panel</li></a>
        {% endif %}
    </ul>
    <hr>
</div>