{% load static %}

<h1 class="nav-text"><a style="color: black;" href="{% url 'calculator' %}">Tax Calculator</a></h1>
<img class="nav-logo" src="{% static '/logo.png' %} " alt="" srcset="">
<div class="nav">
    <ul class="nav-menu-2">
        {% if user.is_authenticated %}
        <li><a style="color: black;" href="{% url 'logout' %}">Logout</a></li>
        {%else%}
        <li><a style="color: black;" href="{% url 'login' %}">Login</a></li>
        <li><a style="color: black;" href="{% url 'register' %}">Sign Up</a></li>
        {%endif%}
    </ul>
    <hr>
</div>