{% load static %}
<h1 class="nav-text"><a style="color: black;" href="{% url 'calculator' %}">Tax Calculator</a></h1>
<img class="nav-logo" src="{% static '/logo.png' %} " alt="" srcset="">
<div class="nav">
    <ul class="nav-menu">
        <li><a style="color: black;" href="{% url 'articles' %}">News</a></li>
        <li><a style="color: black;" href="{% url 'calculator' %}">Tax Calculator</a></li>
        <li><a style="color: black;" href="{% url 'feedback' %}">Feedback</a></li>
        <li><a style="color: black;" href="{% url 'instructions' %}">Instructions</a></li>
        <li><a style="color: black;" href="{% url 'about' %}">About Us</a></li>
        {% if user.is_authenticated %}
        <li><a style="color: black;" href="{% url 'logout' %}">Logout</a></li>
        {%else%}
        <li><a style="color: black;" href="{% url 'login' %}">Login</a></li>
        <li><a style="color: black;" href="{% url 'register' %}">Sign Up</a></li>
        {%endif%}
        {% if user.is_superuser %}
            <a style="color: black;" href="/dashboard"> <li>Admin Panel</li></a>
        {% endif %}
    </ul>
    <hr>
</div>