{% extends "base.html" %}
{% block content %}
<div class ="row">
    <div class="col-md-10 offset-md-5">
        <div class="col-lg-8">
            <h3>Get The Latest News</h3>
        </div>
    </div>
</div>


{% if blog %}

<div class="row">
<div class="col-md-12 offset-md-1">
{% for article in blog %}
<!-- Post Content Column -->
<div class="col-lg-4">
    <!-- Title -->
    <a href="{% url 'detail' article.slug %}"><h2 class="mt-3">{{article.title}}</h2></a> 

    <!-- Preview Image -->
    {% if article.blog_image %}
    <a href="{% url 'detail' article.slug %}"><img class="img-fluid rounded" src={{article.blog_image.url}} alt=""></a>
    {% endif %}
    <!-- Post Content -->
    <p class="lead">
        {{article.content|safe|truncatewords:50}}
    </p>

    <a href="{% url 'detail' article.slug %}" class ="btn btn-danger my-3">Read More</a>
    </div>
{% endfor %}

    </div>
    </div>

{% else %}
<div class ="row">

<div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
<div class = "alert alert-danger">
No Post Found
</div>
</div>
</div>
</div>
{% endif %}
{% endblock content %}
