{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Signup panel</title>
    <link rel="stylesheet" href="{% static 'style.css' %} ">
</head>
<body>
  {% include 'nav-home.html' %}

  </div>
    <div class="form-card">
      <div class="form-blog-signup"></div>
      <form class="form-signup" method="POST">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="log"><h2>Sign Up</h2></div>
        <p class="signup-description">Please fill in this form to create your account.</p>
        <hr>
        <label for="name">Username</label>
        <input id="username" name="username" placeholder="" required>
        <br><br>
        <label for="name">Name</label>
        <input id="name" name="name" placeholder="" required  pattern="^(\w\w+)\s(\w+)$" >
        <br><br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="" required><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        <p>At least 8 characters alphanumeric, uppercase, lowercase or special character like *#@</p><br><br>
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" id="confirmpassword" name="confirmpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="" required><br><br>
        <p> By clicking, you agree to our Privacy Policy and Terms and Conditions</p>
        <button class="btnn" type="submit">Register</button><br>
      </form>
    </div>
</body>
</html>